<!-- Sidebar acceuil -->
<app-sidebar-acc></app-sidebar-acc>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Acceuil</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button><!-- Menu hamburger -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="content-box">
        <h1 class="content-title">Merci, vous etes connecter</h1>
        <h3 class="content-subtitle">generation de crud</h3>
    </div>
  </ion-content>
</div>
